#container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 400px;
    height: 400px;
    gap:1%;
    padding: .5%;
}

.cell {
    background-color: white;
    width: 9%;
    height: 9%;
}
